In [1]:
import pandas as pd

In [2]:
#LOADING DATA SET
dt = pd.read_csv("spam2.csv")
dt.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [3]:
dt['spam'] = dt['Category'].map( {'spam': 1, 'ham': 0} ).astype(int)
dt.head(5)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
print("COLUMN IN THE GIVEN DATA:")
for col in dt.columns:
    print(col)

COLUMN IN THE GIVEN DATA:
Category
Message
spam

In [6]:
t=len(dt['Category'])
print("NUMBER OF ROWS IN REVIEW COLUMN:",t)
t=len(dt['Message'])
print("NUMBER OF ROWS IN LIKED COLUMN:",t)

NUMBER OF ROWS IN REVIEW COLUMN: 5572
NUMBER OF ROWS IN LIKED COLUMN: 5572

In [7]:
#TOKENIZATION
dt['Message'][1] #before

'Ok lar... Joking wif u oni...'

In [9]:
def tokenizer(Message):
    return Message.split()

In [10]:
dt['Message']=dt['Message'].apply(tokenizer)
dt['Message'][1] #after

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [11]:
#STEMMING
dt['Message'][1] #before

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [12]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer('english', ignore_stopwords=False)

In [13]:
def stem_it(Message):
    return [porter.stem(word) for word in Message]

In [14]:
dt['Message']=dt['Message'].apply(stem_it)

In [15]:
dt['Message'][1] #after stemming

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [16]:
#LEMMITIZATION
dt['Message'][152] #before

['yup',
 'i',
 'thk',
 'cine',
 'is',
 'better',
 'cos',
 'no',
 'need',
 '2',
 'go',
 'down',
 '2',
 'plaza',
 'mah.']

In [17]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [18]:
def lemmit_it(Message):
    return [lemmatizer.lemmatize(word, pos ="a") for word in Message]

In [20]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\khwaj\AppData\Roaming\nltk_data...

True

In [35]:
dt['Message']=dt['Message'].apply(lemmit_it)

In [34]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\khwaj\AppData\Roaming\nltk_data...

True

In [22]:
dt['Message'][152] #before

['yup',
 'i',
 'thk',
 'cine',
 'is',
 'better',
 'cos',
 'no',
 'need',
 '2',
 'go',
 'down',
 '2',
 'plaza',
 'mah.']

In [23]:
#STOPWORD REMOVAL
dt['Message'][217] #before

['tired.', 'i', "haven't", 'slept', 'well', 'the', 'past', 'few', 'nights.']

In [24]:
#from nltk.corpus import storpwords
#print(stopwords.words('english'))
#set(['a','t','d','y'])

In [28]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [27]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\khwaj\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [30]:
def stop_it(Message):
    review = [word for word in Message if not word in stop_words]
    return review

In [31]:
dt['Message']=dt['Message'].apply(stop_it)

In [32]:
dt['Message'][217] #after

['tired.', 'slept', 'well', 'past', 'nights.']

In [33]:
dt.head(10)

  Category                                            Message  spam
0      ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1      ham                 [ok, lar..., joke, wif, u, oni...]     0
2     spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3      ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4      ham      [nah, think, goe, usf,, live, around, though]     0
5     spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6      ham  [even, brother, like, speak, me., treat, like,...     0
7      ham  [per, request, mell, mell, (oru, minnaminungin...     0
8     spam  [winner!!, valu, network, custom, select, rece...     1
9     spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [36]:
dt['Message']=dt['Message'].apply(' '.join)

In [37]:
dt.head()

  Category                                            Message  spam
0      ham  go jurong point, crazy.. avail onli bugi n gre...     0
1      ham                        ok lar... joke wif u oni...     0
2     spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3      ham          u dun say earli hor... u c alreadi say...     0
4      ham              nah think goe usf, live around though     0

In [38]:
#TRANSFORM TEXT DATA INTO TDF/TF-IDF VECTORS
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['Message'])

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_Message,y_train,y_Message=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [41]:
#CLASSIFICATION USING LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_Message)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_Message)*100
print("accuracy:",acc_log)

accuracy: 96.05381165919282

In [42]:
#CLASSIFICATION USING LINEAR SVC ACCURACY
from sklearn.svm import LinearSVC
linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc = accuracy_score(y_pred, y_text) * 100
print("accuracy:",acc_linear_svc)

NameError: name 'x_text' is not defined